html, body{
    background-image: linear-gradient(rgb(51, 32, 53), rgb(78, 58, 66));
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    height: 100%;
    overflow: auto;
}

#main-page-container{
     display: grid;
     grid-template-columns: repeat(4, 1fr);     
     grid-template-rows: 100px 50px 150px;
     grid-row-gap: 10%;
     grid-column-gap: 0rem;
     grid-auto-rows: 150px;
     height: 100%;
     min-height: 100%;
     width: 100%;
     margin: 0px;
     padding: 0px;
     
}

.item1{
    grid-column: 1 / span 4;
}


.item4{
    display: none;
}


/* Navbar */

#navbar{
    position: relative;
    width: 100%;
    top: -62px;
    grid-column: 1 / span 4;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#75355a;
  }
  
li {
    float: left;
  }
  
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    left: 30px;
    margin-left: 30px;
  }
  
li a:hover {
    background-color: #111;
  }
  

/* Footer */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #75355a;
    color: white;
    text-align: center;
  }


/* Box og Tekst Css */

#box{
    position: relative;
    width: 230px;
    height: 170px;
    background-image: linear-gradient(rgb(119, 112, 119), rgb(153, 130, 139));
    border: 1px solid black;
    left: 80px;
    top: -100px;
}

#text{
    margin: 10px;
    font-family: sans-serif;
    color: whitesmoke;
}

/*  Bilder + hover */

#banner {
    height: 120px;
    width: 100%;
    position: relative;
    left: 0px;
    top: 0px;
}

#maki{
    position: relative;
    top: -733px;
    width: 100px;
    height: 100px;
    left: -350px;
}

#logo{
    height: 130px;
    width: 150px;
    position: relative;
    left: 20px;
    top: -130px;
}


/* Bilde 1 */
#Produktbilde1 {
    position: relative;
    height: 150px;
    width: 150px;
    border: 1.2px solid black;
    left: 80px;
    top: -80px;
    box-sizing: content-box;
    object-fit: cover;
}

#sushi1text{
    display: none;
}

.sushi1:hover #sushi1text{
    display: block;
    color: white;
    top: -240px;
    left: 100px;
    opacity: 1;
    position: relative;
}

.sushi1:hover #Produktbilde1{
    -moz-box-shadow: 0 0 15px #000000;
    -webkit-box-shadow: 0 0 15px #000000;
    box-shadow: 0 0 20px #000000;
    opacity: 25%;
}



/* Bilde 2 */
#Produktbilde2 {
    position: relative;
    height: 150px;
    width: 150px;
    border: 1.2px solid black;
    left: 80px;
    top: -80px;
    box-sizing: content-box;
    object-fit: cover;
}

#sushi2text{
    position: absolute;
    display: none;
}

.sushi2:hover #sushi2text{
    display: block;
    color: white;
    top: -240px;
    left: 100px;
    opacity: 1;
    position: relative;
}

.sushi2:hover #Produktbilde2{
    -moz-box-shadow: 0 0 15px #000000;
    -webkit-box-shadow: 0 0 15px #000000;
    box-shadow: 0 0 15px #000000;
    opacity: 25%;
}



/* Bilde 3 */
#Produktbilde3 {
    position: relative;
    height: 150px;
    width: 150px;
    border: 1.2px solid black;
    left: 80px;
    top: -80px;
    box-sizing: content-box;
    object-fit: cover;
}

#sushi3text{
    position: absolute;
    display: none;
}

.sushi3:hover #sushi3text{
    display: block;
    color: white;
    top: -240px;
    left: 100px;
    opacity: 1;
    position: relative;
}

.sushi3:hover #Produktbilde3{
    -moz-box-shadow: 0 0 15px #000000;
    -webkit-box-shadow: 0 0 15px #000000;
    box-shadow: 0 0 15px #000000;
    opacity: 25%;
}



/* Bilde 4 */
#Produktbilde4 {
    position: relative;
    height: 150px;
    width: 150px;
    border: 1.2px solid black;
    left: 80px;
    top: -100px;
    box-sizing: content-box;
    object-fit: cover;
}

#sushi4text{
    position: absolute;
    display: none;
}

.sushi4:hover #sushi4text{
    display: block;
    color: white;
    top: -250px;
    left: 85px;
    opacity: 1;
    position: relative;
}
.sushi4:hover #Produktbilde4{
    -moz-box-shadow: 0 0 15px #000000;
    -webkit-box-shadow: 0 0 15px #000000;
    box-shadow: 0 0 15px #000000;
    opacity: 25%;
}


/* Bilde 5 */
#Produktbilde5 {
    position: relative;
    height: 150px;
    width: 150px;
    border: 1.2px solid black;
    left: 80px;
    top: -100px;
    box-sizing: content-box;
    object-fit: cover;
}

#sushi5text{
    position: absolute;
    display: none;
}

.sushi5:hover #sushi5text{
    display: block;
    color: white;
    top: -250px;
    left: 85px;
    opacity: 1;
    position: relative;
}

.sushi5:hover #Produktbilde5{
    -moz-box-shadow: 0 0 15px #000000;
    -webkit-box-shadow: 0 0 15px #000000;
    box-shadow: 0 0 15px #000000;
    opacity: 25%;
}



/* Bilde 6 */
#Produktbilde6 {
    position: relative;
    height: 150px;
    width: 150px;
    border: 1.2px solid black;
    left: 80px;
    top: -100px;
    box-sizing: content-box;
    object-fit: cover;
}

#sushi6text{
    position: absolute;
    display: none;
}

.sushi6:hover #sushi6text{
    display: block;
    color: white;
    top: -250px;
    left: 85px;
    opacity: 1;
    position: relative;
}

.sushi6:hover #Produktbilde6{
    -moz-box-shadow: 0 0 15px #000000;
    -webkit-box-shadow: 0 0 15px #000000;
    box-shadow: 0 0 15px #000000;
    opacity: 25%;
}



/* Bilde 7 */
#Produktbilde7 {
    position: relative;
    height: 150px;
    width: 150px;
    border: 1.2px solid black;
    left: 80px;
    top: -100px;
    box-sizing: content-box;
    object-fit: cover;
}

#sushi7text{
    position: absolute;
    display: none;
}

.sushi7:hover #sushi7text{
    display: block;
    color: white;
    top: -250px;
    left: 85px;
    opacity: 1;
    position: relative;
}

.sushi7:hover #Produktbilde7{
    -moz-box-shadow: 0 0 15px #000000;
    -webkit-box-shadow: 0 0 15px #000000;
    box-shadow: 0 0 15px #000000;
    opacity: 25%;
}



/* Bilde 8 */
#Produktbilde8 {
    position: relative;
    height: 150px;
    width: 150px;
    border: 1.2px solid black;
    left: 80px;
    top: -120px;
    box-sizing: content-box;
    object-fit: cover;
}

#sushi8text{
    position: absolute;
    display: none;
}

.sushi8:hover #sushi8text{
    display: block;
    color: white;
    top: -270px;
    left: 95px;
    opacity: 1;
    position: relative;
}

.sushi8:hover #Produktbilde8{
    -moz-box-shadow: 0 0 15px #000000;
    -webkit-box-shadow: 0 0 15px #000000;
    box-shadow: 0 0 15px #000000;
    opacity: 25%;
}


/* Fontawsome ikoner  */
#spans{
        position: relative; 
        left:56px; 
        bottom: 85px;
        color: gold;
    }



/* Media queries */

@media (max-width: 768px){
 
}



