@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


html, body{
    background-image: linear-gradient(rgb(51, 32, 53), rgb(78, 58, 66));
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    height: 100%;
    overflow: auto;
    font-family: 'Source Sans Pro', sans-serif;
}

#main-page-container{
     display: grid;
     grid-template-columns: repeat(4, 1fr);     
     grid-template-rows: 100px 50px 150px;
     grid-row-gap: 10%;
     grid-column-gap: 0rem;
     grid-auto-rows: 150px;
     height: 100%;
     min-height: 100%;
     width: 100%;
     margin: 0px;
     padding: 0px;
     
}

.item1{
    grid-column: 1 / span 4;
}


.item4{
    display: none;
}

#navbar{
    position: relative;
    width: 100%;
    top: -62px;
    grid-column: 1 / span 4;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#75355a;
  }
  
li {
    float: left;
  }
  
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    left: 30px;
    margin-left: 30px;
  }
  
li a:hover {
    background-color: #111;
  }
  

/* Footer */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #75355a;
    color: white;
    text-align: center;
  }


/* Box og Tekst Css */

#box{
    position: relative;
    width: 230px;
    height: 170px;
    background-color: gray;
    border: 1px solid black;
    left: 80px;
    top: -100px;
}

#text{
    margin: 10px;
    font-family: sans-serif;
}

/*  Bilder + hover */

#banner {
    height: 150px;
    width: 100%;
    position: relative;
    left: 0px;
    top: 0px;
}

#maki1{
    position: absolute;
    top: 5px;
    width: 100px;
    height: 100px;
    left: 290px;
}

#maki2{
    position: absolute;
    top: 5px;
    width: 100px;
    height: 100px;
    left: 610px;
}

#maki3{
    position: absolute;
    top: 5px;
    width: 100px;
    height: 100px;
    left: 930px;
}

#logo{
    height: 130px;
    width: 150px;
    position: relative;
    left: 20px;
    top: -160px;
}

/* Form boks */

.container{
    position: absolute;
    height: 25pc;
    width: 20pc;
    margin: 50px;
    top: 175px;
    right: 0;
    left: 0;
    bottom: 0;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 25px black;
    text-align: center;
}

.regform{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 10px;
}

.rating{
    margin: 10px;
    direction: rtl;
}

.rating a{
    font-size: 20px;
    transition: 0.5s all;
}

.rating a:hover{
    color: gold;
}

.b1:hover ~ a{
    color: gold;
}

.b2:hover ~ a{
    color: gold;
}

.b3:hover ~ a{
    color: gold;
}

.b4:hover ~ a{
    color: gold;
}

.b5:hover ~ a{
    color: gold;
}

.review-field{
    border-radius: 7px;
    margin: 10px;
    padding: 50px;
}

#name{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 10px;
}

.name{
    color: white;
}

.fullname{
    border-radius: 7px;
}

.addBtn{
    border-radius: 7px;
    top: 10px;
    bottom: 0px;
    background-color: white;
    cursor: pointer;
    outline: none;
    transition: 0.25px;
}

.addBtn:hover{
    background-color:gray;
}

/* Fontawsome ikoner  */
#spans{
    position: relative; 
    left:56px; 
    bottom: 85px;
    color: gold;
}



/* Media queries */

@media (max-width: 768px){

}
