html, body{
    background-image: linear-gradient(rgb(51, 32, 53), rgb(78, 58, 66));
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    height: 100%;
    overflow: auto;
}

#main-page-container{
     display: grid;
     grid-template-columns: repeat(4, 1fr);     
     grid-template-rows: 100px 50px 150px;
     grid-row-gap: 10%;
     grid-column-gap: 0rem;
     grid-auto-rows: 150px;
     height: 100%;
     min-height: 100%;
     width: 100%;
     margin: 0px;
     padding: 0px;
     
}

.item1{
    grid-column: 1 / span 4;
}


.item4{
    display: none;
}

#navbar{
    position: relative;
    width: 100%;
    top: -62px;
    grid-column: 1 / span 4;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#75355a;
  }
  
li {
    float: left;
  }
  
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    left: 30px;
    margin-left: 30px;
  }
  
li a:hover {
    background-color: #111;
  }
  

/* Footer */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #75355a;
    color: white;
    text-align: center;
  }


/* Box og Tekst Css */

#box{
    position: relative;
    width: 230px;
    height: 170px;
    background-color: gray;
    border: 1px solid black;
    left: 80px;
    top: -100px;
}

#text{
    margin: 10px;
    font-family: sans-serif;
}

/*  Bilder + hover */

#banner {
    height: 120px;
    width: 100%;
    position: relative;
    left: 0px;
    top: 0px;
}

#maki{
    position: relative;
    top: -733px;
    width: 100px;
    height: 100px;
    left: -350px;
}

#logo{
    height: 130px;
    width: 150px;
    position: relative;
    left: 20px;
    top: -130px;
}

.container{
    position: absolute;
    height: 25pc;
    width: 20pc;
    margin: 50px;
    top: 150px;
    right: 0;
    left: 0;
    bottom: 0;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 25px black;
}

.addTxt{
    position: absolute;
    height: 25px;
    width: 60%;
    margin: 10px;
    top: 15px;
    right: 0;
    left: 25px;
    outline: none;
    border: none;
    padding: 20px;
    padding-right: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.addBtn{
    position: absolute;
    height: 40px;
    width: 40px;
    margin: auto;
    top: 25px;
    right: 35px;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: 0;
}

.fa-plus{
    color: white;
    font-size: 20px;
}


/* Fontawsome ikoner  */
#spans{
    position: relative; 
    left:56px; 
    bottom: 85px;
    color: gold;
}



/* Media queries */

@media (max-width: 768px){

}
